/* 
   The basic Style-Sheet
*/

body {
	margin: 0; padding: 0;
	font-size: .8em; 
	font-family: vera, verdana, sans-serif;
	}

#header {
	padding: .5em;
	border-style: solid;
	border-width: 0 0 1px 0;
	}

#content {
	position: relative; 
	width: 100%;
	}

#main {
	margin: 0 14em 0 12em;
	}

#leftblocks {
	position: absolute;
	top: 0; left: 0;
	width: 12em; 
	padding-bottom: 1em;
	border-style: solid;
	border-width: 0 1px 1px 0;
	}

#rightblocks {
	position: absolute;
	top: 0; right: 0;
	width: 14em; 
	padding-bottom: 1em; 
	border-style: solid;
	border-width: 0 0 1px 1px;
  }
  
#footer {
	margin: 0 14em 0 12em; 
	padding: .5em;
	border-top: 1px dotted;
	}

.wrapper {
  padding: .5em;
	}

/* A few Basic Formatting Options */

a, a:visited { text-decoration: none; }

/* Some Content specific tags */

h1, h2, h3, .subject {
  margin: 0 0 .2em 0;
  font-size: 1.3em;
  letter-spacing: .1em;
  font-weight: 300; }

.pagelinks, .breadcrumb {
  font-weight: 700; }

.node, .block, .comment {
	margin-bottom: 2em;
	}

#leftblocks ul, #rightblocks ul  { 
	margin: 0; 
	padding-left: 1em;
	}

.credit {
  margin: 0 0 .5em 0; 
  font-size: .8em;
  }

.body {
  padding: 0 1em;
  }

.taxonomy {
  margin: 0 0 .5em 0;
  float: right;
  font-size: .8em;}

.links {
  margin: .5em 0 0 0;
  font-size: .8em; }
