/* 
   Colors 
*/

#header      { background-color: #eed; border-color: gray; }
#rightblocks { background-color: #eee; border-color: gray; }
#leftblocks  { background-color: #eee; border-color: gray; }
#footer      { border-color: gray; }

a, a:linked { color: blue; };

.poll-foreground {  }
.poll-background {  }
