/* The print styles
*/

body { font: .8em sans-serif; }

#leftblocks  { display: none; }
#rightblocks { display: none; }

a { 
  text-decoration: none;
  color: darkblue;
  font-weight: 700; }

.links {display: none;}

